@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --border: 1px solid #f0f0f0;
  --btn-border: 1px solid rgb(255, 255, 255);
  --border-radius:50px;
  --btn-width:150px;
  --tittle-color:#454545;
  --font-size: 14px;
  --background-color:#f9f9f9;
  --color:#757575;
  --green: #29ca8e;
}

body {
  font-family: "Mulish", sans-serif;
}
.navbar {
  padding: 0;
}

p {
  font-weight: normal;
  line-height: 24px;
}

p,span,a,input,.btn{
  font-size: var(--font-size) !important;
  color: var(--color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  line-height: inherit;
  color: var(--tittle-color) !important;
}

h2 {
  font-size: 2em;
  padding-bottom: 10px;
}
h3 {
  font-size: 1.5em;
  margin-bottom: 0px;
}

h3 a {
  color: var(--tittle-color) !important;
}

h4 {
  font-size: 18px;
}

small {
    font-weight: 300;
    line-height: 1;
    color: #777;
    font-size: 65%;
  }

/*Sections general*/
#team, #testimonial, #courses .card,
#courses .card-footer {
  background: var(--background-color);
}

.navbar-brand {
  color: #454545;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
}
.link-active {
  background: #29ca8e;
  color: #fff;
}
.nav-link:hover {
  background: #29ca8e;
  color: #fff;
}

.btn-outline-light {
  background: transparent;
  border-radius: 50px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: inherit;
  font-weight: normal;
  padding: 15px 30px;
  transition: 0.5s;
}
.custom-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption p {
  color: #f9f9f9;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 5px 0 40px 0;
}

.carousel-caption h3 {
  font-size: 3rem;
}

/* about */
.col-left {
  font-family: "Muli", sans-serif;
}

.col-left h2 {
  color: #353535;
  font-weight: 550;
  font-size: 30px;
  line-height: 35px;
}

h4 {
  color: #353535;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.about-info-group p {
  color: #757575;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}
span.icon {
  background: #29ca8e;
}

.right-circle {
  width: 450px;
  height: 450px;
  background-color: #252020;
}

.entry-form .form-ctrl {
  background: transparent;
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
  box-shadow: none;
  height: 8px;
  
}

.form-ctrl {
  width: 300px;
  color: #555;
  padding: 12px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 500;
  outline: none;
}

.submit-btn:hover {
  border: none;
  background: #3f51b5;
  color: #ffffff;
  transition: 0.4s;
}



/* Contact Section*/

#contact-form{
    background-color:#3f51b5;
}

.contact-button {
    border-radius: 50px;
    border: 1px solid transparent;
    background-color: #fff;
    color: #555;
    height: 50px;
    width: 100%;
  }
  
  .contact-button:hover {
    border-radius: 50px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
  }

  @media (min-width: 992px) {
    .carousel-inner {
      height: 650px;
    }
    .contact-button {
      width: 170px;
    }
  
    .custom-caption {
     top: 45%;
    }
}